@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mask-visible: #000;
  --mask-ease: rgba(0, 0, 0, 0.2);
  --mask-invisible: transparent;
  --header-height: 72px;

  --transparent: transparent;
  --ease-1: cubic-bezier(0.25, 0, 0.5, 1);
  --ease-2: cubic-bezier(0.25, 0, 0.4, 1);
  --ease-3: cubic-bezier(0.25, 0, 0.3, 1);
  --ease-4: cubic-bezier(0.25, 0, 0.2, 1);
  --ease-5: cubic-bezier(0.25, 0, 0.1, 1);
  --ease-in-1: cubic-bezier(0.25, 0, 1, 1);
  --ease-in-2: cubic-bezier(0.5, 0, 1, 1);
  --ease-in-3: cubic-bezier(0.7, 0, 1, 1);
  --ease-in-4: cubic-bezier(0.9, 0, 1, 1);
  --ease-in-5: cubic-bezier(1, 0, 1, 1);
  --ease-out-1: cubic-bezier(0, 0, 0.75, 1);
  --ease-out-2: cubic-bezier(0, 0, 0.5, 1);
  --ease-out-3: cubic-bezier(0, 0, 0.3, 1);
  --ease-out-4: cubic-bezier(0, 0, 0.1, 1);
  --ease-out-5: cubic-bezier(0, 0, 0, 1);
  --ease-in-out-1: cubic-bezier(0.1, 0, 0.9, 1);
  --ease-in-out-2: cubic-bezier(0.3, 0, 0.7, 1);
  --ease-in-out-3: cubic-bezier(0.5, 0, 0.5, 1);
  --ease-in-out-4: cubic-bezier(0.7, 0, 0.3, 1);
  --ease-in-out-5: cubic-bezier(0.9, 0, 0.1, 1);
  --ease-elastic-out-1: cubic-bezier(0.5, 0.75, 0.75, 1.25);
  --ease-elastic-out-2: cubic-bezier(0.5, 1, 0.75, 1.25);
  --ease-elastic-out-3: cubic-bezier(0.5, 1.25, 0.75, 1.25);
  --ease-elastic-out-4: cubic-bezier(0.5, 1.5, 0.75, 1.25);
  --ease-elastic-out-5: cubic-bezier(0.5, 1.75, 0.75, 1.25);
  --ease-elastic-in-1: cubic-bezier(0.5, -0.25, 0.75, 1);
  --ease-elastic-in-2: cubic-bezier(0.5, -0.5, 0.75, 1);
  --ease-elastic-in-3: cubic-bezier(0.5, -0.75, 0.75, 1);
  --ease-elastic-in-4: cubic-bezier(0.5, -1, 0.75, 1);
  --ease-elastic-in-5: cubic-bezier(0.5, -1.25, 0.75, 1);
  --ease-elastic-in-out-1: cubic-bezier(0.5, -0.1, 0.1, 1.5);
  --ease-elastic-in-out-2: cubic-bezier(0.5, -0.3, 0.1, 1.5);
  --ease-elastic-in-out-3: cubic-bezier(0.5, -0.5, 0.1, 1.5);
  --ease-elastic-in-out-4: cubic-bezier(0.5, -0.7, 0.1, 1.5);
  --ease-elastic-in-out-5: cubic-bezier(0.5, -0.9, 0.1, 1.5);
  --ease-step-1: steps(2);
  --ease-step-2: steps(3);
  --ease-step-3: steps(4);
  --ease-step-4: steps(7);
  --ease-step-5: steps(10);
  --ease-elastic-1: var(--ease-elastic-out-1);
  --ease-elastic-2: var(--ease-elastic-out-2);
  --ease-elastic-3: var(--ease-elastic-out-3);
  --ease-elastic-4: var(--ease-elastic-out-4);
  --ease-elastic-5: var(--ease-elastic-out-5);
  --ease-squish-1: var(--elastic-in-out-1);
  --ease-squish-2: var(--elastic-in-out-2);
  --ease-squish-3: var(--elastic-in-out-3);
  --ease-squish-4: var(--elastic-in-out-4);
  --ease-squish-5: var(--elastic-in-out-5);
  --ease-spring-1: linear(
    0,
    0.006,
    0.025 2.8%,
    0.101 6.1%,
    0.539 18.9%,
    0.721 25.3%,
    0.849 31.5%,
    0.937 38.1%,
    0.968 41.8%,
    0.991 45.7%,
    1.006 50.1%,
    1.015 55%,
    1.017 63.9%,
    1.001
  );
  --ease-spring-2: linear(
    0,
    0.007,
    0.029 2.2%,
    0.118 4.7%,
    0.625 14.4%,
    0.826 19%,
    0.902,
    0.962,
    1.008 26.1%,
    1.041 28.7%,
    1.064 32.1%,
    1.07 36%,
    1.061 40.5%,
    1.015 53.4%,
    0.999 61.6%,
    0.995 71.2%,
    1
  );
  --ease-spring-3: linear(
    0,
    0.009,
    0.035 2.1%,
    0.141 4.4%,
    0.723 12.9%,
    0.938 16.7%,
    1.017,
    1.077,
    1.121,
    1.149 24.3%,
    1.159,
    1.163,
    1.161,
    1.154 29.9%,
    1.129 32.8%,
    1.051 39.6%,
    1.017 43.1%,
    0.991,
    0.977 51%,
    0.974 53.8%,
    0.975 57.1%,
    0.997 69.8%,
    1.003 76.9%,
    1
  );
  --ease-spring-4: linear(
    0,
    0.009,
    0.037 1.7%,
    0.153 3.6%,
    0.776 10.3%,
    1.001,
    1.142 16%,
    1.185,
    1.209 19%,
    1.215 19.9% 20.8%,
    1.199,
    1.165 25%,
    1.056 30.3%,
    1.008 33%,
    0.973,
    0.955 39.2%,
    0.953 41.1%,
    0.957 43.3%,
    0.998 53.3%,
    1.009 59.1% 63.7%,
    0.998 78.9%,
    1
  );
  --ease-spring-5: linear(
    0,
    0.01,
    0.04 1.6%,
    0.161 3.3%,
    0.816 9.4%,
    1.046,
    1.189 14.4%,
    1.231,
    1.254 17%,
    1.259,
    1.257 18.6%,
    1.236,
    1.194 22.3%,
    1.057 27%,
    0.999 29.4%,
    0.955 32.1%,
    0.942,
    0.935 34.9%,
    0.933,
    0.939 38.4%,
    1 47.3%,
    1.011,
    1.017 52.6%,
    1.016 56.4%,
    1 65.2%,
    0.996 70.2%,
    1.001 87.2%,
    1
  );
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    /* filter: blur(2px); */
    filter: saturate(0);
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    filter: none;
    transform: none;
  }
}

.overflow-memory-in {
  animation: fadeInUp 0.9s both;
  animation-timing-function: var(--ease-spring-3);
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    /* filter: blur(2px); */
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    filter: none;
    transform: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    filter: blur(40px);
  }

  to {
    opacity: 1;
    filter: none;
    transform: none;
  }
}

html {
  background-color: #000000;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.img-opacity-animation {
  animation: fadeIn 2.6s both;
  animation-delay: 0.2s;
  animation-timing-function: var(--ease-spring-3);
}

.main-nav {
  transition-timing-function: var(--ease-spring-1);
}

/* .img-fade-in  {
  opacity: 0;
  animation: fadeIn 1.6s forwards;
  animation-timing-function: var(--ease-spring-3);
} */

@keyframes ignite-anim {
  0% {
    box-shadow: 0px -174px 220.3px -117px rgba(251, 47, 47, 0.25);
  }

  25% {
    box-shadow: 0px -164px 220.3px -117px rgba(251, 47, 47, 0.25);
  }

  50% {
    box-shadow: 0px -184px 220.3px -117px rgba(251, 47, 47, 0.25);
  }

  75% {
    box-shadow: 0px -144px 220.3px -117px rgba(251, 47, 47, 0.25);
  }

  100% {
    box-shadow: 0px -174px 220.3px -117px rgba(251, 47, 47, 0.25);
  }
}

.ignite-circle {
  animation: ignite-anim 2s infinite;
}

.imageWrapper {
  pointer-events: auto;
}

.attributeWrapper {
  --m-x: 50%;
  --m-y: 50%;
  --r-x: 0deg;
  --r-y: 0deg;
  --bg-x: 50%;
  --bg-y: 50%;
  --duration: 300ms;
  --foil-size: 360px;
  --opacity: 0;
  --radius: 0px;
  position: relative;
  isolation: isolate;
  contain: layout style;
  perspective: 1000px;
  width: max-content;
}

.contentWrapper {
  display: grid;
  pointer-events: none;
  width: max-content;
  will-change: transform;
  transform-origin: center center;
  transition-property: transform;
  transition-duration: var(--duration);
  transform: rotateY(var(--r-x)) rotateX(var(--r-y));
  transition-timing-function: var(--ease-spring-3);
  overflow: hidden;
}

.contentWrapper > * {
  width: 100%;
  height: 100%;
  display: grid;
  grid-area: 1 / 1 / auto / auto;
}

.spotlight {
  mix-blend-mode: soft-light;
  opacity: var(--opacity);
  will-change: background;
  transition-property: opacity, background;
  transition-duration: var(--duration);
  background: radial-gradient(
    farthest-corner circle at var(--m-x) var(--m-y),
    rgba(255, 255, 255, 0.5) 10%,
    rgba(255, 255, 255, 0.35) 20%,
    rgba(255, 255, 255, 0) 90%
  );
}

.holo {
  mix-blend-mode: color-dodge;
  opacity: var(--opacity);
  will-change: background;
  transition-property: opacity;
  transition-duration: var(--duration);
  clip-path: inset(0 0 1px 0 round var(--radius));
  --step: 5%;
  --pattern: url("/foil.png") center / var(--foil-size);
  --rainbow: repeating-linear-gradient(
      0deg,
      rgb(255, 122, 117) calc(var(--step) * 1),
      rgba(255, 237, 95, 1) calc(var(--step) * 2),
      rgba(168, 255, 95, 1) calc(var(--step) * 3),
      rgba(131, 255, 247, 1) calc(var(--step) * 4),
      rgba(120, 148, 255, 1) calc(var(--step) * 5),
      rgb(216, 117, 255) calc(var(--step) * 6),
      rgb(255, 119, 115) calc(var(--step) * 7)
    )
    0% var(--bg-y) / 200% 700%;
  --diagonal: repeating-linear-gradient(
      128deg,
      #000 0%,
      hsl(180, 10%, 100%) 3.8%,
      hsl(180, 10%, 100%) 4.5%,
      hsl(180, 10%, 100%) 5.2%,
      #000 10%,
      #000 12%
    )
    var(--bg-x) var(--bg-y) / 300%;
  --shade: radial-gradient(
      farthest-corner circle at var(--m-x) var(--m-y),
      rgba(255, 255, 255, 0.1) 12%,
      rgba(255, 255, 255, 0.15) 20%,
      rgba(255, 255, 255, 0.25) 120%
    )
    var(--bg-x) var(--bg-y) / 300%;
  background-blend-mode: exclusion, hue, hard-light;
  background: var(--pattern), var(--rainbow), var(--diagonal), var(--shade);
  filter: brightness(0.6) contrast(2) saturate(1);
}

.holo::after {
  content: "";
  grid-area: inherit;
  background: inherit;
  mix-blend-mode: exclusion;
  background-size:
    var(--foil-size),
    200% 400%,
    800%,
    200%;
  background-position:
    center,
    0% var(--bg-y),
    calc(var(--bg-x) * -1) calc(var(--bg-y) * -1),
    var(--bg-x) var(--bg-y);
  background-blend-mode: soft-light, exclusion;
}

.contentWrapper {
  transition-property: all;
  transition-duration: 800ms;
  transition-timing-function: var(--ease-spring-3);
}
.contentWrapper:hover {
  scale: 110%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}

.blurborder {
  --extended-by: 60px;
  --offset: 18px;
  --thickness: 1px;
  --bg: 19px;
  border-radius: 9999px;
  position: fixed;
  left: 0;
  right: 0;
  max-width: 600px;
  margin: 0 auto;
  height: calc(var(--extended-by) + var(--offset));
  top: calc(var(--header-height) - var(--offset) + var(--thickness));
  z-index: 9999;
  backdrop-filter: blur(120px) saturate(120%) brightness(200%);
  background: linear-gradient(
    transparent var(--bg),
    rgba(var(--color-overlay-dim-rgb), 0.1) var(--bg),
    transparent calc(var(--bg) + 1px)
  );
  mask-image: linear-gradient(
    to bottom,
    var(--mask-visible) 0,
    var(--mask-visible) var(--offset),
    var(--mask-invisible) var(--offset)
  );
  pointer-events: none;
  user-select: none;
}
